html, body {
	height: 100%;
	margin: 0;
}

div{
	border: 0.1px solid;
}

#scene {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;
}

.tilesRow {
	display: flex;
	width: 100%;
}

.tileCell {
	width: 100%;
	background-size: 100% 100%;
}

.robot{
	background-size: 100% 100%;
}
.robot:hover { 
filter: drop-shadow(0px 0px 3px #ff0); 
}